body{
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.header{
	position: relative;
	height: 760px;
}

/*------------ header kiri -----------*/

.headerkiri{
	float:left;
	position: absolute;
	left: 0;
	height: 100%
	width: 40%
	z-index: -1;
}

/*------------ Search ------------*/

.search{
	float: left;
	padding-left: 30px;
	padding-top: 30px;
	margin: 0px;
}

.searchbutton{
	float: left;
	width: 40px;
	height: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #FFA500;
}

.search img{
	width: 28px;
	margin: 5px;
}

input{
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: left;
	width: 300px;
	height: 40px;
}

/*---------- left navigation bar ------------*/

.miring{
	float: left;
	height: 650px;
	width: 100px;
	clear: left;
	/*background-color: red;*/
}

.miring ul {
	list-style: none;
	text-align: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	/*background-color: blue;*/
}

.miring ul li {
	/*background-color: green;*/
	text-align: center;
	margin: 120px -150px;
	padding: 20px;
	transform: rotate(-90deg);
}

.miring ul a {
	/*background-color: white;*/
	height: 100px;
	padding: 15px 5px;
	text-decoration: none;
	font-weight: bold;
	color: #FFA500;
	font-weight: bold;
}

/*------------- Gambar 1 -----------*/

#gambar1{
	position: absolute;
	left: 100px;
	top: 55px;
	width: 700px;
}
#ellipse{
	position: absolute;
	width: 450px;
	left: 385px;
	top: 180px;
	z-index: -1;
}

/*---------- header kanan --------*/

.headerkanan{
	position: relative;
	margin: 0;
	padding: 0;
	float: right;
	width: 60%;
	height: 759px;
	background-color: rgba(0,0,0,0.5);
}

/*----------- judul -----------*/
.head{
	width: 100%;
	height: 100%;
	background-color: rgba(70,70,70,0.4);
}

/*------------ Navigation Bar ------------*/

.nav ul{
	float: left;
	list-style-type: none;
	margin: 45px;
	margin-left: 0px;
}

.nav ul li{
	display: inline;
	padding: 25px;
}

.nav ul a{
	text-decoration: none;
	color: #FFA500;
	font-weight: bold;
	display: inline;
}

.nav img{
	float: left;
	margin-left: 130px;
	width: 100px;
}
/*----------------------*/

.judul{
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
}

.judul img{
	width: 600px;
}

#learn{
	margin: 40px;
}

.judul a{
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding: 15px;
	background-color: #FFA500;
}

.system{
	position: absolute;
	bottom: 8px;
  right: 16px;
}

.system a{
	padding-bottom: 50px;
	color: #FFA500;
	font-weight: bold;
	text-decoration: none;
}

.system img{
	width: 20px;
}

/*------------- Content ------------*/

content{
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 760px;
	background-image: url('src/B2.jpg');
	background-size: 100%;
}

.contentkiri{
	float: left;
	margin: 0;
	padding: 0;
	width: 60%;
	height: 759px;
	background-color: rgba(0,0,0,0.5);
}

.deskripsi{
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(70,70,70,0.4);
}

.des{
	position: absolute;
	left: 0;
	top: 35%;
	width: 100%;
	text-align: center;
	background-color: red;
}

.foraligning{
	position: absolute;
	left: 80px;
}

.deskripsi h2{
	margin: 0;
	color: #FFA500;
	font-size: 30px;
	text-align: left;
}

.deskripsi p{
	width: 700px;
	font-size: 25px;
	text-align: justify;
	font-weight: bold;
	color: #fff;
}

#view{
	margin: 45px;
}

.deskripsi a{
	border-radius: 25px;
	background-color: #FFA500;
	padding: 15px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.contentkanan img{
	float: left;
	height: 759px;
	z-index: 1;
}
